.opti-quick-view-modal .shopify-section:not(:first-of-type) {
    display: none;
}

.opti-quick-view-modal .product-sticky-block__holder {
    display: none;
}

.opti-quick-view-modal .quick-view-product {
    background: white;
    position: relative;
}

.opti-quick-view-modal .quick-view-product .product-image-zoom-block .product-gallery__img_link {
    display: none;
}

.opti-quick-view-modal .quick-view-product .product-image-zoom-block .product-gallery-splide {
    display: none;
}

.opti-quick-view-modal .quick-view-product .product-image-zoom-block .product-item__img .opti-plus-sign {
    display: none;
}

.opti-quick-view-modal .quick-view-product .product__sku-box {
    display: none;
}

.opti-quick-view-modal .quick-view-product .product-main-block__details div:has(.icon--collection) {
    display: none !important;
}

.opti-quick-view-modal .quick-view-product .product-main-block__details div:has(.icon--swatches):not(.product__row){
    display: none !important;
}

.opti-quick-view-modal .quick-view-product .product-quantity-availability-wrapper .col-5 {
    display: none;
}

.opti-quick-view-modal .quick-view-product .product-quantity-availability-wrapper .justify-content-end {
    justify-content: start !important;
}

.opti-quick-view-modal .quick-view-product .dimensions {
    display: none;
}

.opti-quick-view-modal .quick-view-product #dimensions-section {
    display: none;
}

.opti-quick-view-modal .opti-close-icon {
    position: absolute;
    top: 24px;
    right: 24px;
}