.opti-quick-view-modal {
    display: none;
    z-index: 9999999999;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    padding: 0px;
    justify-content: end;
    align-items: center;
}

.opti-quick-view-modal .quick-view-product {
    background: white;
    position: relative;
    width: 575px;
    max-width: 100%;
    height: 100vh;
    overflow: auto;
}

.opti-quick-view-modal .quick-view-product .row.no-gutters {
    flex-direction: column;
}

.opti-quick-view-modal .quick-view-product .opti-close-icon {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    z-index: 999;
}

.opti-quick-view-modal .quick-view-product section {
    padding-bottom: 0 !important;
}

.opti-quick-view-modal .quick-view-product .product-image-zoom-block {
    flex: unset;
    max-width: unset;
}

.opti-quick-view-modal .quick-view-product .product-main-block div:has(.product-main-block__details):not(.row) {
    flex: unset;
    max-width: unset;
}

.opti-quick-view-modal .quick-view-product section .product-section-container {
    aspect-ratio: unset !important;
}

.opti-quick-view-modal .quick-view-product .product-image-zoom-block .product-item__img {
    margin-bottom: 0;
    height: 100%;
}

.opti-quick-view-modal .quick-view-product .product-image-zoom-block .product-item__img picture {
    height: 100%;
    display: block;
}

.opti-quick-view-modal .quick-view-product .product-image-zoom-block .product-item__img picture img {
    height: 100%;
}

.opti-quick-view-modal .quick-view-product .product__sku-box,
.opti-quick-view-modal .quick-view-product .product-image-zoom-block .product-item__img .opti-plus-sign,
.opti-quick-view-modal .quick-view-product .product-image-zoom-block .product-gallery-splide,
.opti-quick-view-modal .quick-view-product .product-image-zoom-block .product-gallery__img_link,
.opti-quick-view-modal .product-sticky-block__holder,
.opti-quick-view-modal .shopify-section:not(:first-of-type),
.opti-quick-view-modal .quick-view-product .product-item__label,
.opti-quick-view-modal .quick-view-product .product__vendor,
.opti-quick-view-modal .quick-view-product .dimensions,
.opti-quick-view-modal .quick-view-product #dimensions-section,
.opti-quick-view-modal .quick-view-product .product-quantity-availability-wrapper .col-5,
.opti-quick-view-modal .quick-view-product .addons,
.opti-quick-view-modal .quick-view-product .product-main-block__details div:has(.icon--collection) {
    display: none !important;
}

.opti-quick-view-modal .quick-view-product .product-main-block__details {
    padding: 27.75px 24px !important;
}

.opti-quick-view-modal .quick-view-product .product-main-block__details .product__title {
    line-height: 100%;
    font-size: 32px;
    font-weight: 350;
    color: #222222;
    margin-bottom: 10px;
}

.opti-quick-view-modal .quick-view-product .product-main-block__details .product__price {
    margin-bottom: 16px;
}

.opti-quick-view-modal .quick-view-product .product-main-block__details .product__price__box {
    line-height: 100%;
    margin-bottom: 0;
}

.opti-quick-view-modal .quick-view-product .product-main-block__details ins {
    color: #222222;
    font-weight: 350;
}

.opti-quick-view-modal .quick-view-product .product-main-block__details .d-flex.flex-wrap.align-items-center.mb-5 {
    margin-bottom: 0 !important;
}

.opti-quick-view-modal .quick-view-product .product-main-block__details div[data-option-name="WIDTH"] .option-name,
.opti-quick-view-modal .quick-view-product .product-main-block__details div[data-option-name="DEPTH"] .option-name {
    margin-bottom: 16px !important;
}

.opti-quick-view-modal .quick-view-product .product-main-block__details .product__row {
    padding: 20px 0 !important;
}

.opti-quick-view-modal .quick-view-product .product-main-block__details #product_add_cart {
    padding-bottom: 0 !important;
}

.opti-quick-view-modal .quick-view-product .product-main-block__details .product__variant-label-box {
    margin-bottom: 16px !important;
}

.opti-quick-view-modal .quick-view-product .product-quantity-availability-wrapper .justify-content-end {
    justify-content: start !important;
}

.opti-quick-view-modal .quick-view-product .product__row .material-wrapper .swatch-overlay__slide {
    position: fixed;
    right: 545px;
    max-width: 370px;
}

@media (max-width: 600px) {

    .opti-quick-view-modal {
        padding: 10px;
        justify-content: center;
    }

    .opti-quick-view-modal .quick-view-product {
        width: 1194px;
        max-width: 100%;
        height: 100%;
    }
}